@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header {
  background-color: white;
  height: 12rem;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding-bottom: 10rem;

  .ul {
    display: flex;
    width: 95rem;
    height: 4.6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 5px -5px #232956;


    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > a {
        color: #232956;
        font-size: 15.1px;
        font-weight: bold;
        text-decoration: none;
      } h1 { 
        font-size: 32px;
        color: #232956;
        font-weight: bold;
      }

      &:hover {
        a { 
          text-decoration: underline;
        }
      }
    }
  }
}