.section{
    height: 45rem;
    & > h2{
        font-size: 35px;
        font-weight: bold;
        color: #232956;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}


.li{
        width: 38rem;
        height: 17rem;  
        display: flex;
        flex-direction: row;
        padding-bottom: 2rem;
    & > img{
        border-radius: 15px;
        width: 20rem;
        height: 12rem;
    }
}


.ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width:80rem;
    height: 24rem;
    margin-left: 19rem;
}

.div1{
    & > h3{
        font-size: 20px;
        font-weight: bold;
        color: #232956;
        margin-left: 1rem;
    }
    
    p{
        font-size: 14px;
        color: #232956;
        margin: 0;
        padding: 0;
        font-weight: bold;
        padding-bottom: 2rem;
        margin-left: 1rem;

    } a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-left: 1rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: #2962FF;
        border-radius: 10px;
    }
    
    a:hover{
        background-color: #232956;
        color: white;
        text-decoration: underline;
        font-weight: bold;
    } 
}
