@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.section{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    height: 60rem;
    background-color: #F2F2F2;

} .div1{
    margin-left: 19rem;
    height: 40.5rem;
    width: 42.3rem;
    position: sticky;
    padding-right: 0.5rem;
    top: 0;
    & > h2{
        font-size: 35px;
        font-weight: bold;
        color: #232956;
        padding-bottom: 1rem;
    } p{
        color: black;
        font-size: 17px;
    }
    button{
        background-color: #2962FF;
        border: 2px solid #2962FF;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        width: 10rem;
        height: 3rem;
        font-family: "Inter", sans-serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        color: #232956;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    h4 {
        font-size: 25px;
        font-weight: bold;
        color: #232956;
        padding-bottom: 1rem;

    }
    h5 {
        font-size: 25px;
        font-weight: bold;
        color: #232956;
        padding-bottom: 1rem;
    }
    h6 {
        font-size: 25px;
        font-weight: bold;
        color: #232956;
        padding-bottom: 1rem;
    }
    p{
        padding-bottom: 1rem;
    }
}
    
