


.footer{
    height: 14rem;
    background-color: black;
    text-align: center;
    & h2{
        padding-top: 3rem;
        color: #f2f2f2;
        padding-bottom: 1rem;
    }
    p{
        color: #f2f2f2;
        padding-top: 1rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }
    a:hover{
        text-decoration: underline;
    }
}

.li{
    color: white;   
    & > img{
        padding-left: 1rem;
    } a{
        text-decoration: none;
        color: white;
    } 
    a:hover{
        text-decoration: underline;
    }
}

.aVolta{
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        text-decoration: none;
        color: white;
        background-color: #2962FF;
        border-radius: 15px;
        font-weight: bold;
}
.aVolta:hover{
    background-color: #232956;
}